CHROME_EXECUTABLE_PATH=google-chrome-stable
# not set for false, anything for true (false is also true)
# @see https://github.com/motdotla/dotenv/issues/51
CHROME_RUNTIME_HEADLESS=
DOWNLOAD_BASE_PATH=

example_website_USERNAME=
example_website_PASSWORD=

WP_USERNAME=
WP_PASSWORD=
